crewai
crewai[tools]
load_dotenv
#python-dotenv
langchain
langchain-openai
langchain-huggingface
langchain_mistralai
langchain_ollama
youtube-transcript-api
yt_dlp==2023.11.14 
youtube-transcript-api==0.6.1